body{
    background-image: url("./img/Pattern.png");
    font-family: 'Righteous';
}
h1, h5{
    font-family: 'Righteous';
}
.jumbotron{
    text-align: center;
    background-color: bisque;
}
h1{
    font-size: 5em;
    border: 5px solid black;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    color:white;
 /*   box-shadow: 2px 2px 2px 2px black, 2px -2px 2px 2px black;*/
}
.content{
    min-height: 100vh;
    background-color: black
}
.col{
    text-align: center;
    background-color: bisque;
    border-radius: .3rem;
}
.row{
    margin:5px 0px;
}
.displayContent{
    margin-right: 5px;
    padding:20px 15px;
}
.inputContent{
    margin-right: 5px;
}
#displayImg{
    width:50%;
    margin: auto;
}
.buttonGroup{
    margin:auto;
}
#guesses{
    min-height: 30px;
}
.letters{
    min-height: 30px;
    margin: 10xp;
}