body{
    background-image: url("./img/Pattern.png");
    font-family: 'Righteous';
}
h1, h5{
    font-family: 'Righteous';
}
.jumbotron{
    text-align: center;
}
h1{
    font-size: 5em;
    border: 5px solid black;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    color:white;
 /*   box-shadow: 2px 2px 2px 2px black, 2px -2px 2px 2px black;*/
}
.content{
    min-height: 100vh;
    background-color: black
}